<div class="col-md-1">
    <div class="menu">
        <a href="">
            <img src="assets/img/Icon.svg"  class="logo" alt="">
        </a>
        <a href="">
            <img src="assets/img/ic_account_circle.svg " class="icon-circle" alt=" ">
        </a>
        <a href="">
            <img src="assets/img/ic_format_quote.svg " class="icon-quote" alt=" ">
        </a>
        <a href="">
            <img src="assets/img/ic_color_lens.svg " class="icon-lens" alt=" ">
        </a>
    </div>
</div>