.profile-img {
    // max-width: 600px;
    width: 50%;
    background-color: #613bbb;
    height: 100vh;
    // position: relative;
    min-width: 440px;
}
.profile{
    overflow: auto;
}

.profik-img {
    top: 96px;
    position: absolute;
    max-width: 100%;
    height: auto;
    // // padding-left: 160px;
    padding-left: 22%;
    padding-right: 5%;
    // right: 15%;
}

.draw {
    position: absolute;
    /* padding-top: 96px; */
    padding-left: 120px;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 5px;
}

.rectangle {
    // position: relative;
    position: absolute;
    width: 80%;
    
    top: 116px;
    left: 17.50%;
    height: 697px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
}

.rectangle:after {
    content: "";
    display: block;
    padding-bottom: 8%;
}

.rectangle-2 {
    // position: relative;
    position: absolute;
    width: 65%;
    border: solid 20px #4caf50; // position: absolute;
    // margin-left: 317px;
    // z-index: -1;
     top: 116px;
    // left: 160px;

    right: 69px;
    z-index: -1;
}

.rectangle-2:after {
    content: "";
    display: block;
    padding-bottom: 8%;
}