.profile-img {
    max-width: 600px;
    width: 100%;
    background-color: #613bbb;
    height: 100vh;
    position: relative;
}

.profik-img {
    margin-top: -145px;
    margin-left: 20px;
}

.draw {
    position: absolute;
    /* padding-top: 96px; */
    padding-left: 120px;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 5px;
}

.rectangle {
    width: 507px;
    height: 697px;
    border: solid 4px #ffffff;
    
     position: absolute;
    top:116px;
    left: 140px;
}

.rectangle-2 {
    width: 280px;
    height: 120px;
    border: solid 20px #4caf50;
    // position: absolute;

    margin-left: 317px;
}
